{% extends "base.html" %}
{% block content %}
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }

    .capitalize {
        text-transform: uppercase;
    }

    .DISPUTED {
        color: rgb(153, 0, 0);
    }

    .READY_TO_PAY {
        color: rgb(0, 100, 50);
    }

    .alert {
        border: 1px solid;
        border-radius: 10px;
        background: #BDBDBD;
        padding: 5px;
    }

    .alert td {
        width: 100%;
    }

    .alert.alert-danger {
        background: #ffb8b8;
        color: rgb(92, 0, 0);
        text-align: center;
    }

    .text-danger {
        color: rgb(134, 0, 0);
    }

    .text-success {
        color: rgb(13, 128, 0);
    }
</style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">

                            </td>

                            <td>

                                Invoice #{{ id }}<br>
                                Status: <span class="{{ status }}">{{ status }}</span><br>
                                Created: {{ created_at }}<br>
                                {% if paid_at is not None %}
                                Paid: {{ paid_at }}<br>
                                {% else %}
                                Not paid yet<br>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                {{ academy.name }}
                            </td>

                            <!-- <td>
                                {{ academy_name }}<br>
                                John Doe<br>
                                john@example.com
                            </td> -->
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>
                    Item
                </td>

                <td>
                    Credits consumed
                </td>
            </tr>

            {% for provisioning_activity in provisioning_activities %}
            <tr class="item">
                <td>
                    {% if provisioning_activity.status_text is not None and provisioning_activity.status_text != "" %}
                    <span class="text-danger tooltip pointer" data-tippy-content="{{provisioning_activity.status_text}}">⚠️</span>
                    {% endif %}
                    <a href="https://github.com/{{ provisioning_activity.username }}" target="_blank" rel="noopener noreferrer">{{ provisioning_activity.username }}</a>
                </td>

                <td>
                    <span>{{ provisioning_activity.quantity }}</span>
                </td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td></td>

                <td>
                    Total Price: ${{ total_amount }}
                </td>
            </tr>
        </table>
    </div>
    {% endblock %}
