{% extends "base.html" %}
{% load math %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
{% endblock %}

{% block content %}
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(5) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(5) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    .price {
        text-align: right;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }


    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(5) {
        text-align: right;
    }

    .capitalize {
        text-transform: uppercase;
    }

    .PENDING {
        color: rgb(153, 0, 0);
    }

    .READY_TO_PAY {
        color: rgb(0, 100, 50);
    }

    .alert td {
        width: 100%;
    }

</style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                            </td>

                            <td>
                                Invoice #{{ bill.id }}<br>
                                Status: <span class="{{ bill.status }}">{{ bill.status }}</span><br>
                                Created: {{ bill.created_at }}<br>
                                Paid: {{ bill.paid_at }}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                {{ bill.academy.name }}<br>
                            </td>

                            <!-- <td>
                                {{ academy_name }}<br>
                                John Doe<br>
                                john@example.com
                            </td> -->
                        </tr>
                    </table>
                </td>
            </tr>
            {% if status == "PENDING" %}
            <tr class="alert alert-danger {{ status }}" style="padding-top: -30px;">
                <td colspan="2">This bill is not to be paid yet as it its still PENDING</td>
            </tr>
            {% endif %}
            <tr class="heading">
                <td>
                    Username
                </td>

                <td>
                    Product name
                </td>
                <td></td>

                <td>
                    Quantity
                </td>

                <td>
                    Price
                </td>
            </tr>

            {% for activity in activities %}
            <tr class="item">
                <td>
                    {{ activity.username }}
                </td>

                <td colspan="2">
                    {{ activity.product_name }}
                    {% if activity.status_text %}
                        <small> - </small>
                        <a onclick="alert('{{activity.status_text}}')" type="button" class="btn-link">
                            see error
                        </a>
                    {% endif %}
                </td>

                <td>
                    {% if activity.quantity.is_integer %}
                        {{ activity.quantity|floatformat }}
                    {% else %}
                        {{ activity.quantity|floatformat:3 }}
                    {% endif %}
                </td>


                <td class="price">
                    <span style="color: #608062;">
                        ${{ activity.quantity|mul:activity.price_per_unit|mul:activity.multiplier|floatformat:2 }}
                    </span>
                </td>
            </tr>
            {% endfor %}


            <tr class="total">
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    Total: ${{ bill.total_amount|floatformat:2 }}
                </td>
            </tr>
        </table>
        {% if bill.stripe_url %}
            <a class="btn btn-primary" type="button" href="{{bill.stripe_url}}">Pay</a>
        {% else %}
            <br />
            <button class="btn btn-primary" type="button" disabled>Pay</button>
            <br />
            <br />
            <div class="alert alert-warning" role="alert">
                ⚠️This bill doesn't have a payment link
            </div>
        {% endif %}


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
{% endblock %}
