{% extends "base.html" %}
{% load math %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
{% endblock %}

{% block content %}
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(5) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(5) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    .price {
        text-align: right;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }


    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(5) {
        text-align: right;
    }

    .capitalize {
        text-transform: uppercase;
    }

    .PENDING {
        color: rgb(153, 0, 0);
    }

    .READY_TO_PAY {
        color: rgb(0, 100, 50);
    }

    .alert td {
        width: 100%;
    }

</style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">

            {% if not bill.stripe_url %}
            <div class="alert alert-warning text-center mb-3" role="alert">
                ⚠️This bill doesn't have a payment link
            </div>
            {% endif %}

            {% if status == "PENDING" %}
            <div class="alert alert-danger {{ status }} text-center mb-3" role="alert">
                This bill should not to be paid yet as it its still PENDING
            </div>
            {% endif %}

            <div class="row mb-3">
                <div class="col-7 text-start">
                    <h5>
                        {{ bill.academy.name }}
                    </h5>
                    <h5>
                        {{ bill.title }}
                    </h5>
                </div>

                <div class="col-5 text-start">
                    Invoice #{{ bill.id }}<br>
                    Status: <span class="{{ bill.status }}">{{ bill.status }}</span><br>
                    Paid: {{ bill.paid_at }}<br>
                    Created At: {{ bill.created_at }}<br>
                    <div class="text-end">
                        {% if bill.stripe_url %}
                            <a class="btn btn-primary my-3 w-50" type="button" href="{{bill.stripe_url}}">Pay</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <tr class="heading">
                <td>
                    Username
                </td>
                <td>
                    Product name
                </td>
                <td></td>

                <td>
                    Price
                </td>
            </tr>

            {% for consumption in consumptions %}
            <tr class="item">
                <td>
                    {{ consumption.username }}
                </td>

                <td colspan="2">
                    {{ consumption.kind.product_name }}
                    {% if consumption.status_text %}
                        <small> - </small>
                        <a onclick="alert('{{consumption.status_text}}')" type="button" class="btn-link">
                            see error
                        </a>
                    {% endif %}
                </td>


                <td class="price">
                    <span style="color: #608062;">
                        {% if consumption.amount.is_integer %}
                            {{ consumption.amount|floatformat:0 }}
                        {% else %}
                            {{ consumption.amount|floatformat:2 }}
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}


            <tr class="total">
                <td></td>
                <td></td>
                <td></td>

                <td>
                    Total: ${{ bill.total_amount|floatformat:2 }}
                </td>
            </tr>

        </table>

        {% if page < pages %}
        <button class="btn btn-primary mx-auto" >
            <a class="page-link" href="{{ url }}&page={{ page|add:1 }}">Load more</a>
        </button>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
{% endblock %}
