{% extends "base.html" %} {% block content %}
<div class="content text-center">
  <div style="margin: auto; max-width: 800px; display: flex; gap: 20px;">
    <img
      border="0"
      vspace="0"
      hspace="0"
      src="{{ COMPANY_LOGO|default:'https://storage.googleapis.com/breathecode/logos/4geeks-vertical-logo.png' }}"
      alt="4Geeks"
      title="4Geeks"
      height="79px"
      style="
        object-fit: contain;
        color: #000000;
        max-height: 80px;
        max-width: 200px;
        font-size: 10px;
        margin: 0;
        padding: 0;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
        border: none;
        display: block;
      "
    />
    <div style="text-align: left">
      <h1 class="title" style="margin-bottom: 20px">{{ SUBJECT }}</h1>
      <p>
        Hello {{mentee.first_name }}, in this page
        <b>{{mentor.service.name}}</b> you are scheduling with: {{mentor.user.first_name}}
        {{mentor.user.last_name}}
      </p>
    </div>
  </div>

  <tr>
    <td
      align="center"
      valign="top"
      style="
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0;
        padding: 0;
        padding-left: 6.25%;
        padding-right: 6.25%;
        width: 87.5%;
        /* padding-top: 25px; */
        padding-bottom: 5px;
      "
    >
      <!-- Calendly inline widget begin -->
      <div
        class="calendly-inline-widget"
        data-url="{{booking_url}}&hide_event_type_details=1&hide_gdpr_banner=1&name={{mentee.first_name}}%20{{mentee.last_name}}&email={{mentee.email}}"
        style="min-width: 320px; height: 730px; margin-top: -60px"
      ></div>
      <script
        type="text/javascript"
        src="https://assets.calendly.com/assets/external/widget.js"
        async
      ></script>
      <!-- Calendly inline widget end -->
    </td>
  </tr>
</div>
{% endblock %}
