repos:
  - repo: https://github.com/google/yapf
    rev: "v0.40.1" # Use the sha / tag you want to point at
    hooks:
      - id: yapf
        language: python
        entry: yapf
        args: [-i, -vv]
        types: [python]
        additional_dependencies: ['toml']
  # -   repo: https://github.com/PyCQA/flake8
  #     rev: 6.1.0  # pick the desired flake8 version
  #     hooks:
  #     -   id: flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    # docs https://pre-commit.com/hooks.html
    hooks:
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-json
      - id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      - id: check-merge-conflict
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-toml
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
