[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
coverage = "*"
atomicwrites = "*"
pytest = "*"
coveralls = "*"
yapf = "*"
pre-commit = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"

[packages]
django = "*"
djangorestframework = "~=3.11.1"
serpy = "*"
gunicorn = "*"
requests = "*"
dj-database-url = "*"
django-heroku = "*"
django-cors-headers = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
activecampaign-python = "*"
schema = "*"
mixer = "*"
pytest-django = "*"
pygithub = "==1.54.1"
google-cloud-datastore = "*"
pyfcm = "*"
twilio = "*"
google-cloud-storage = "*"
celery = "==5.0.5"
redis = "*"
eventbrite = "*"
rollbar = "*"
pillow = "*"
django-redis = "*"
pytz = "*"
hiredis = "*"
icalendar = "*"
djangorestframework-csv = "*"
python-slugify = "*"
pyyaml = "*"
uritemplate = "*"
psycopg2-binary = "*"
django-sql-explorer = {extras = ["xls"], version = "*"}
google-cloud-ndb = "*"

[requires]
python_version = "3.9"

[scripts]
dev="heroku local"
create_bucket="python -m scripts.create_bucket"
test="python -m scripts.test"
celery="python -m scripts.celery"
coverage="python -m scripts.coverage"
cov="python -m scripts.coverage"
coverage_ci="python -m scripts.coverage_ci"
cov_ci="python -m scripts.coverage_ci"
docker_build="python -m scripts.docker_build"
docker_build_dev="python -m scripts.docker_build_dev"
install_precommit="pre-commit install"
lint="pre-commit run"
format="pre-commit run --all-files"
start="python manage.py runserver"
migrate="python manage.py migrate"
makemigrations="python manage.py makemigrations"
sync_active_campaign="python manage.py sync_with_active_campaign"
delete_duplicates="python manage.py delete_duplicates"
docs="mkdocs serve --livereload"
docs_deploy="mkdocs gh-deploy -c"
generate_docs="mkdocs build"
doctor="python -m scripts.doctor"
