[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start="python manage.py runserver 0.0.0.0:8001"
format="pre-commit run --all-files"
migrate="python manage.py migrate"
makemigrations="python manage.py makemigrations"
celery="python -m scripts.celery"
dev="heroku local"
test="pytest --disable-pytest-warnings"
ptest="pytest --disable-pytest-warnings -n auto"
coverage="python -m scripts.coverage"
pcoverage="python -m scripts.parallel_coverage"
cov="python -m scripts.coverage"
pcov="python -m scripts.parallel_coverage"
coverage_ci="pytest --disable-pytest-warnings --cov=breathecode --cov-report xml"
pcov_ci="pytest --disable-pytest-warnings --cov=breathecode --cov-report xml -n auto"
update_sql_keywords="python -m scripts.update_sql_keywords_json"
create_bucket="python -m scripts.create_bucket"
docker_build="python -m scripts.docker_build"
docker_build_dev="python -m scripts.docker_build_dev"
install_precommit="pre-commit install"
lint="pre-commit run"
sync_active_campaign="python manage.py sync_with_active_campaign"
delete_duplicates="python manage.py delete_duplicates"
docs="mkdocs serve --livereload"
generate_docs="mkdocs build"
doctor="python -m scripts.doctor"
docs_deploy="mkdocs gh-deploy -c"

[dev-packages]
pytest-cov = "*"
coverage = "*"
atomicwrites = "*"
pytest = "*"
coveralls = "*"
yapf = "*"
pre-commit = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
pytest-xdist = "*"

[packages]
django = "~=3.2.13"
djangorestframework = "~=3.11.1"
setuptools="~=62.0.0"
serpy = "*"
gunicorn = "*"
requests = "*"
dj-database-url = "*"
django-heroku = "*"
django-cors-headers = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
activecampaign-python = "*"
schema = "*"
mixer = "*"
pytest-django = "*"
pygithub = "*"
google-cloud-datastore = "*"
pyfcm = "*"
twilio = "*"
google-cloud-storage = "*"
celery = "*"
redis = "*"
eventbrite = "*"
rollbar = "*"
pillow = "*"
django-redis = "*"
pytz = "*"
hiredis = "*"
icalendar = "*"
djangorestframework-csv = "*"
python-slugify = "*"
pyyaml = "*"
uritemplate = "*"
psycopg2-binary = "*"
django-sql-explorer = {extras = ["xls"], version = "*"}
google-cloud-ndb = "*"
whitenoise = {extras = ["brotli"], version = "*"}
timeago = "*"
markdown = "*"
python-frontmatter = "*"
beautifulsoup4 = "*"
lxml = "*"
nbconvert = "~=6.4.5"
