[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
coverage = "*"
atomicwrites = "*"
yapf = "*"

[packages]
django = "*"
djangorestframework = "~=3.11.1"
serpy = "*"
gunicorn = "*"
requests = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-heroku = "*"
django-cors-headers = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
activecampaign-python = "*"
schema = "*"
mixer = "*"
pytest-django = "*"
pygithub = "==1.54.1"
google-cloud-datastore = "*"
pyfcm = "*"
twilio = "*"
google-cloud-storage = "*"
celery = "==5.0.5"
redis = "*"
eventbrite = "*"
rollbar = "*"
pillow = "*"
django-redis = "*"
pytz = "*"
hiredis = "*"
icalendar = "*"
djangorestframework-csv = "*"
python-slugify = "*"
pyyaml = "*"
uritemplate = "*"

[requires]
python_version = "3.9"

[scripts]
dev="heroku local"
create_bucket="python -m scripts.create_bucket"
test="python -m scripts.test"
celery="python -m scripts.celery"
coverage="python -m scripts.coverage"
cov="python -m scripts.coverage"
docker_build="python -m scripts.docker_build"
lint="yapf -r --diff"
format="yapf -ri ."
start="python manage.py runserver"
migrate="python manage.py migrate"
makemigrations="python manage.py makemigrations"
sync_active_campaign="python manage.py sync_with_active_campaign"
delete_duplicates="python manage.py delete_duplicates"
