{% extends "base.html" %}
{% block content %}
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }

    .capitalize {
        text-transform: uppercase;
    }

    .UNDER_REVIEW {
        color: rgb(153, 0, 0);
    }

    .READY_TO_PAY {
        color: rgb(0, 100, 50);
    }

    .alert {
        border: 1px solid;
        border-radius: 10px;
        background: #BDBDBD;
        padding: 5px;
    }

    .alert td {
        width: 100%;
    }

    .alert.alert-danger {
        background: #ffb8b8;
        color: rgb(92, 0, 0);
        text-align: center;
    }

    .text-danger {
        color: rgb(92, 0, 0);
    }
</style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <a href="/v1/freelance/bills/html">⬅ Back to all bills</a>
                </td>
            </tr>
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                {{ academy.title }}
                            </td>

                            <td>

                                Invoice #{{ id }}<br>
                                Status: <span class="{{ status }}">{{ status }}</span><br>
                                Created: {{ created_at }}<br>
                                Paid: {{ paid_at }}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                {{ freelancer.user.first_name }} {{ freelancer.user.last_name }}<br>
                                {{ freelancer.user.email }}<br>
                                Rate: ${{ freelancer.price_per_hour }}
                            </td>

                            <!-- <td>
                                {{ academy_name }}<br>
                                John Doe<br>
                                john@example.com
                            </td> -->
                        </tr>
                    </table>
                </td>
            </tr>
            {% if status == "UNDER_REVIEW" %}
            <tr class="alert alert-danger {{ status }}" style="padding-top: -30px;">
                <td colspan="2">This bill is not to be paid yet as it its still UNDER_REVIEW</td>
            </tr>
            {% endif %}

            <tr class="heading">
                <td>
                    Item
                </td>

                <td>
                    Price
                </td>
            </tr>

            {% for issue in issues %}
            <tr class="item">
                <td>
                    {% if issue.status_message is not None and issue.status_message != "" %}
                    <span class="text-danger tooltip pointer" data-tippy-content="{{issue.status_message}}">⚠️</span>
                    {% elif issue.node_id is None or issue.node_id == "" %}
                    <span class="text-danger tooltip pointer"
                        data-tippy-content="Out of sync, will not be included on the bill">⚠️</span>
                    {% endif %}
                    <a href="{{ issue.url }}" target="_blank" rel="noopener noreferrer">{{ issue.title }}</a>
                </td>

                <td>
                    {% if issue.included_in_bill or issue.included_in_bil == "True" %}
                    <span style="color: #608062;">{{ issue.duration_in_hours }}</span>
                    {% else %}
                    <span style="color: #BFBFBF;">{{ issue.duration_in_hours }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            <tr class="total">
                <td></td>

                <td>
                    Total Hours: {{ total_duration_in_hours }} <br />
                </td>
            </tr>
            <tr class="total">
                <td></td>

                <td>
                    Total: ${{ total_price }}
                </td>
            </tr>
        </table>
    </div>
    {% endblock %}
