{% extends "form_base.html" %}
{% block content %}
<p class="alert alert-light">{{ intro }}</p>
<form method="post" class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %} 
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary" type="submit">SEND</button>
    <ul style="text-align: center;">
        <li><a href="/v1/auth/password/reset?url={{ redirect_url }}"">Forgot your password?</a></li> 
        <li><a class="btn" href="/v1/auth/github/?callback={{ redirect_url }}">Login with github</a></li>
    </ul>
</form>
{% endblock %}